<link rel="stylesheet" href="../assets/scss/about_style.scss">
<about>
    <div id="about-section">
    </div>
    <div id="about-content">
        <h2>
           Coders_edit 
        </h2>
        <p id="about-para">
            We are a community of coders posting new ideas and resolving issues that arise in the coding world,<br>
            our platform provides a medium to communicate with coders arround the world to share new ideas <br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  find people with common interests and also as a hangout place.
            <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Come join be a part of the resopnsive community
        </p>
    </div>
</about>