<!-- <footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer> -->


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<footer>
   <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <span class="logo"><img src="../assets/images/Coders_edit-2.png" alt="">
                <h2>Coders_edit</h2>
              </span>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                     <span>Menu</span>    
                     <li>
                        <a href="/">Home</a>
                      </li>
                           
                      <li>
                         <a href="/about">About</a>
                      </li>
                           
                      <li>
                        <a href="/Privacy">Privacy Policy</a>
                      </li>
                           
                      <li>
                         <a href="/copyright">Copyright Policy</a>
                      </li>
                 </ul>
            </div>
       
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="address">
                <span>Contact</span>       
                <li>
                   <i class="fa fa-phone" aria-hidden="true"></i> 
                   <a>Phone : 88888881999</a>
                </li>
                <li>
                   <i class="fa fa-map-marker" aria-hidden="true"></i> 
                   <a>Adress:<br> &nbsp; Dr.no : 56a/81 dwarka, north cant zone,<br>&nbsp; Delhi , India</a>
                </li> 
                <li>
                   <i class="fa fa-envelope" aria-hidden="true"></i> 
                   <a href="#">Email : code_edit@gmail.com</a>
                </li> 
               </ul>
            </div>
        </div> 
</footer>