<div>
    <h1> &nbsp; &nbsp; Privacy Policy for Coders_Edit</h1>
    <p>
        &nbsp;&nbsp;At Coders_Edit, accessible from localhost:800, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Coders_Edit and how we use it.
        <br>&nbsp;&nbsp;If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
        <br>&nbsp;&nbsp;This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Coders_Edit. This policy is not applicable to any information collected offline or via <br>&nbsp;&nbsp;channels other than this website.</p>

    <h3> &nbsp;&nbsp;Consent</h3>
    <p>&nbsp;&nbsp;By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

    <h3>&nbsp;&nbsp;Information we collect</h3>
    <p>&nbsp;&nbsp;The personal information that you are asked to provide, and the reasons why you are asked to provide it,
        will be made clear to you at the point we ask you to provide your personal information.

       If you contact us directly, we may receive additional<br>&nbsp;&nbsp; information about you such as your name,
       email address, phone number, the contents of the message and/or attachments you may send us, and 
       any other information you may choose to provide.

       When you register for an Account, we may ask<br>&nbsp;&nbsp; for your contact information, including items such as name,
       company name, address, email address, and telephone number.</p>

    <h3> &nbsp;&nbsp;How we use your information</h3>
    <ul>We use the information we collect in various ways, including to:
    <li>Provide, operate, and maintain our website</li>
    <li>personalize, and expand our website</li> 
    <li>Understand and analyze how you use our website</li>
    <li>Develop new products, services, features, and functionality</li>
    <li>Communicate with you, either directly or through one of our partners,
        including for customer service, to provide you with updates and other
        information relating to the website, and for marketing and promotional
        purposes</li>
    <li>Send you emails</li>
    <li>Find and prevent fraud</li>

    <br>

    <h3>&nbsp;Cookies and Web Beacons</h3>
    <p>Like any other website, Coders_Edit uses 'cookies'. These cookies are used to
        store information including visitors' preferences, and the pages on the website
        that the visitor accessed or visited.<br> The information is used to optimize the users'
        experience by customizing our web page content based on visitors' browser type and/or
        other information.</p>


</div>